.longBarHorizontal {
    width: 100%;
    height: 60px;
    background-color: #37C7F3;
    position: absolute;
    /*border-bottom: 1px solid gray;*/
    box-shadow: 2px 2px 2px gray;
}

.longBarHorizontal .titulo {
    text-align: center;
}

.longBarHorizontal .titulo span {
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
}

.longBarVertical {
    width: 50px;
    height: calc(100% - 60px);
    background-color: rgb(221, 221, 221);
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    position: absolute;
}

.listaFilmes {
    margin-top: 20px;
}

.menu {
    width: 50px;
    height: 60px;
    background-color: #37C7F3;
    position: relative;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    cursor: pointer;
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

.expandirMenu {
    width: 170px;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    height: 60px;
    background-color: #37C7F3;
    position: relative;
}

.expandirLongBarVertical {
    width: 170px;
    height: calc(100% - 60px);
    background-color: rgb(221, 221, 221);
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    position: absolute;
}

.geral {
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: #00abff;
}

.listaFilmes {
    overflow: hidden;
    align-items: center;
}

.listaFilmes li {
    display: flex;
    width: 170px;
    padding: 10px;
    border-bottom: 2px dotted gray;
    /*border-bottom-width: thin;*/
}

/*.listaFilmes li:first-child {*/
    /*margin-top: px;*/
/*}*/

.listaFilmes li:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
    cursor: pointer;
    /*outline: none;*/
}

.listaFilmes li a {
    margin-left: 20px;
}

/*
 BOTAO ADICIONAR
*/

.btnAdd {
    width: 60px;
    height: 50px;
    background-color: #37C7F3;
    float: right;
    text-align: center;
    padding-top: 10px;
    border-radius: 80px;
    bottom: 30px;
    right: 30px;
    position: fixed;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(33,33,33,1);
    transition: all 0.45s linear;
}

.btnAdd span {
    color: black;
    vertical-align: middle;
}

.btnAdd:hover {
    width: 65px;
    height: 55px;
    border-radius: 55px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.btnAddSmall {
    background-color: lightblue;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px gray;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.btnAddSmall:hover {
    box-shadow: 0px 0px 5px 6px gray;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.divModal {
    width: 500px;
    height: 600px;
    position: absolute;
    margin-left: 35%;
    margin-top: 10%;
    /*margin-top: 100px;*/
    /*background-color: lightgray;*/
}

/*.tema {*/
    /*display: flex;*/
    /*width: 170px;*/
    /*padding: 10px;*/
    /*border-bottom: 2px dotted gray;*/
/*}*/

