.longBarHorizontal {
    width: 100%;
    height: 60px;
    background-color: #37C7F3;
    position: fixed;
    border-bottom: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.longBarHorizontal .titulo {
    position: absolute;
}

.longBarHorizontal .titulo span {
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
}

.divCategorias {
    width: 170px;
    height: calc(100% - 60px);
    background-color: rgb(221, 221, 221);
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    position: fixed;
}

.menu {
    width: 50px;
    height: 60px;
    position: absolute;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    cursor: pointer;
    /*border: 1px solid black;*/
}

.expandirMenu {
    width: 170px;
    height: 60px;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    background-color: #37C7F3;
    position: relative;
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

.expandirLongBarVertical {
    width: 170px;
    height: calc(100% - 60px);
    background-color: rgb(221, 221, 221);
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    position: relative;
}

.divVertical {
    width: 50px;
    height: 100%;
    position: fixed;
    /*background-color: #00abff;*/
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    z-index: 1001
}

.expandirDivVertical {
    width: 170px;
    height: 100%;
    position: fixed;
    /*background-color: #00abff;*/
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    transition: all 0.15s linear;
    z-index: 1001
}

.listaFilmes {
    overflow: hidden;
    align-items: center;
    margin-top: 60px;
    background-color: rgb(221, 221, 221);
}

.listaFilmes li {
    display: flex;
    width: 170px;
    padding: 10px;
    border-bottom: 2px dotted gray;
    /*border-bottom-width: thin;*/
}

/*.listaFilmes li:first-child {*/
    /*margin-top: px;*/
/*}*/

.listaFilmes li:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
    cursor: pointer;
    /*outline: none;*/
}

.listaFilmes li a {
    margin-left: 20px;
}

/*
 BOTAO ADICIONAR
*/

.btnAdd {
    width: 60px;
    height: 60px;
    background-color: #37C7F3;
    float: right;
    text-align: center;
    padding-top: 10px;
    border-radius: 80px;
    bottom: 30px;
    right: 30px;
    position: fixed;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(33,33,33,1);
    transition: all 0.45s linear;
    z-index: 2000;
}

.btnAdd span {
    color: black;
    vertical-align: middle;
}

.btnAdd:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
    /*-webkit-transition: all 0.15s linear;*/
    /*-moz-transition: all 0.15s linear;*/
    /*-o-transition: all 0.15s linear;*/
    /*transition: transform 0.2s linear;*/
}

.btnAddSmall {
    background-color: lightblue;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px gray;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.btnAddSmall    :hover {
    box-shadow: 0px 0px 5px 6px gray;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.divModal {
    width: 500px;
    height: 600px;
    position: absolute;
    margin-left: 35%;
    margin-top: 10%;
    display: none;
    z-index: 3000;
    /*margin-top: 100px;*/
    /*background-color: lightgray;*/
}

/*.tema {*/
    /*display: flex;*/
    /*width: 170px;*/
    /*padding: 10px;*/
    /*border-bottom: 2px dotted gray;*/
/*}*/

