* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

section {
    margin: 0 auto;
    width: 330px;
}
/* LOGIN */
.login{
    width: 330px;
    min-height: 100px;
    background-color: white;
    box-shadow: 2px 2px 1px darkgrey;
    transition: all 0.45s linear;
    position: absolute;
}

.tituloLogin, .tituloCadastro {
    text-align: center;
    color: black;
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.inputLogin, .inputCadastro {
    margin: 10px;
    text-align: center;
}

#username, #password, #usernameCad, #passwordCad, #confirmPassword {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 2px;
    outline: none;
}

#btnLogar, #redirectCadastro, #btnCadastrar {
    background-color: #37C7F3;
    box-shadow: 0 0 3px rgba(33,33,33,1);
    border: 0;
    border-radius: 3px;
    outline: none;

}

#btnLogar, #btnCadastrar {
    margin-left: 125px;
    margin-top: 10px;
    width: 90px;
    height: 30px;
}

#redirectCadastro {
    margin-left: 250px;

}

#btnLogar:hover, #redirectCadastro:hover , #btnCadastrar:hover{
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
}

/*.cadastrar {*/
    /*display: none;*/
/*}*/


/* CADASTRO */


.cadastrar {
    width: 330px;
    min-height: 100px;
    background-color: white;
    box-shadow: 2px 2px 1px darkgrey;
    transition: all 0.45s linear;
    transform: rotate3d(0, 1, 0, 90deg);
}

#btnCadastrar {
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 15px;
    width:50px;
    height:30px;
}

#btnVoltar {
    border: 0;
    border-radius: 3px;
    outline: none;
    margin-left: 80px;
}

.botaoCadastro > i{
    position: relative;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {left:0px;}
    50%  {left:5px;}
    100% {left:0px; }
}
