.dadosFilme input {
    width: 235px;
}

.modalEditar {
    width: 450px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
    opacity: 0;
    display: none;
}

.modalOpenEditar {
    width: 450px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
    position: fixed;
}

.infoFilme {
    width: 400px;
    height: 180px;
    position: absolute;
    margin-top: 20px;
    margin-left: 22px;
}

.posterEditar {
    width: 100px;
    height: 160px;
    border: 1px solid black;
    /* padding: 10px; */
    margin-top: 10px;
    position: absolute;
    background-size: 100px;
}

.posterEditar i {
    margin-left: 40px;
    margin-top: 70px;
}

.dadosFilme {
    padding: 20px 0 0 140px
}

.opniaoFilmeEditar{
    width: 400px;
    height: 180px;
    position: absolute;
    margin-top: 200px;
    margin-left: 22px;
}

.watched #dataWatched {
    margin-left: 50px;
}

.quality {
    padding: 20px 0;
}

#descriptionEditar {
    width: 400px;
    height: 70px;
}

.adicionaFilme {
    margin-top: 400px;
    margin-left: 22px;
    width: 400px;
    height: 70px;
    position: absolute;
}

.adicionaFilme #btnSalvarEditar {
    background-color: #37C7F3;
    box-shadow: 0 0 3px rgba(33,33,33,1);
    border: 0;
    outline: none;
    width: 90px;
    height: 30px;
    border-radius: 55px;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 20px;
    position: absolute;
}

.adicionaFilme #btnSalvarEditar:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
}

.adicionaFilme #btnDeletarEditar {
    background-color: lightcoral;
    box-shadow: 0 0 3px rgba(33,33,33,1);
    border: 0;
    outline: none;
    width: 90px;
    height: 30px;
    border-radius: 55px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 20px;
}

.adicionaFilme #btnDeletarEditar:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #ea4b4b;
}

.fecharModal {
    position: relative;
    float: right;
    cursor: pointer;
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: gray;
    position: fixed;
    opacity: 0.4;
    z-index: 1002;
    display: none;
}
