.dadosFilme input {
    width: 235px;
}

.modal {
    width: 450px;
    height: 500px;
    border: 1px solid black;
}

.infoFilme {
    width: 400px;
    height: 180px;
    /*border: 1px solid black;*/
    position: absolute;
    margin-top: 20px;
    margin-left: 22px;
}

.poster {
    width: 100px;
    height: 160px;
    border: 1px solid black;
    /* padding: 10px; */
    margin-top: 10px;
    position: absolute;
}

.dadosFilme {
    padding: 20px 0 0 140px
}

.opniaoFilme {
    width: 400px;
    height: 180px;
    /*border: 1px solid black;*/
    position: absolute;
    margin-top: 200px;
    margin-left: 22px;
}

.watched #dataWatched {
    margin-left: 50px;
}

.quality {
    padding: 20px 0;
}

#description {
    width: 400px;
    height: 70px;
}

.adicionaFilme {
    margin-top: 400px;
    margin-left: 22px;
    width: 400px;
    height: 70px;
    position: absolute;
    border: 1px solid black;
}

.adicionaFilme #btnSalvar {
    background-color: #37C7F3;
    box-shadow: 0 0 3px rgba(33,33,33,1);
    border: 0;
    outline: none;
    width: 90px;
    height: 30px;
    border-radius: 55px;
    cursor: pointer;
}

.adicionaFilme #btnSalvar:hover {
    box-shadow: 0 0 7px rgba(33,33,33,1);
    transition: all 0.15s linear;
    background-color: #00abff;
}

