.filmes {
    border: 1px solid black;
    /*transition: all 0.3s;*/
    float: right;
    width: 70%;
    margin-right: 100px;
    margin-top: 15px;
    height: auto;
    text-align: center;
}

.teste {
    /*opacity: 0;*/
    position: absolute;
    min-width: 200px;
    min-height: 300px;
    cursor: pointer;
    /*transition: all 0.3s;*/
    text-align: center;
    color: #fff;
    z-index: 1000;
    border: 1px solid black;
    display: flex;
}