#snackbar {
    visibility: hidden;
    min-width: 150px;
    float: right;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    /*position: fixed;*/
    /*z-index: 1;*/
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation-name: snack;
    animation-duration: 1.5s;
    border-radius: 5px;
    /*animation-fill-mode: forwards;*/
}

@keyframes snack {
    from {right: 0;}
    to {right: 100px;}
}

#barra1 {
    width: 25px;
    height: 3px;
    top: 18px;
    position: absolute;
    background-color: black;
    left: 10px;
    transition: transform 0.2s linear;
}

.barra2 {
    width: 25px;
    height: 3px;
    top: 25px;
    position: absolute;
    background-color: black;
    left: 10px;
    transition: transform 0.2s linear;
}

.barra3 {
    width: 25px;
    height: 3px;
    top: 32px;
    position: absolute;
    background-color: black;
    left: 10px;
    transition: transform 0.2s linear;
}

.rotateBarra1 {
    width: 25px;
    height: 3px;
    top: 25px;
    position: absolute;
    background-color: black;
    left: 10px;
    transform: translate(0px, 7.3px) rotate(45deg);
    transition: transform 0.2s linear;
    border-radius: 2px;
}

.hiddenBarra2 {
    width: 25px;
    height: 3px;
    top: 25px;
    left: 10px;
    position: absolute;
    background-color: black;
    transition: transform 0.2s linear;
    transform: scale(0);
    border-radius: 2px;
}

.rotateBarra3 {
    width: 25px;
    height: 3px;
    top: 32px;
    position: absolute;
    background-color: black;
    left: 10px;
    transform: translate(0px, -7.3px) rotate(-45deg);
    transition: transform 0.2s linear;
    border-radius: 2px;
}
