#snackbar {
    visibility: hidden;
    min-width: 150px;
    float: right;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    right: 30px;
    top: 20px;
    font-size: 17px;
    position: fixed;
    /*animation-duration: 3s;*/
    animation-duration: 1.5s;
}

#snackbar.show {
    visibility: visible;
    animation-name: snack;
    animation-duration: 2s;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    z-index: 5000;
    /*animation-fill-mode: forwards;*/
}

@keyframes snack {
    from {right: 0;}
    to {right: 100px;}
}

/*@keyframes snack {*/
    /*0%   {right:0px;}*/
    /*50%  {right:100px;}*/
    /*100% {right:0px; }*/
/*}*/

#barra1 {
    width: 25px;
    height: 3px;
    top: 18px;
    position: absolute;
    background-color: white;
    left: 10px;
    transition: transform 0.2s linear;
}

.barra2 {
    width: 25px;
    height: 3px;
    top: 25px;
    position: absolute;
    background-color: white;
    left: 10px;
    transition: transform 0.2s linear;
}

.barra3 {
    width: 25px;
    height: 3px;
    top: 32px;
    position: absolute;
    background-color: white;
    left: 10px;
    transition: transform 0.2s linear;
}

.rotateBarra1 {
    width: 25px;
    height: 3px;
    top: 25px;
    position: absolute;
    background-color: white;
    left: 10px;
    transform: translate(0px, 7.3px) rotate(45deg);
    transition: transform 0.2s linear;
    border-radius: 2px;
}

.hiddenBarra2 {
    width: 25px;
    height: 3px;
    top: 25px;
    left: 10px;
    position: absolute;
    background-color: white;
    transition: transform 0.2s linear;
    transform: scale(0);
    border-radius: 2px;
}

.rotateBarra3 {
    width: 25px;
    height: 3px;
    top: 32px;
    position: absolute;
    background-color: white;
    left: 10px;
    transform: translate(0px, -7.3px) rotate(-45deg);
    transition: transform 0.2s linear;
    border-radius: 2px;
}

.bodyDark {
    background-color: #2b2b2b ;
}

.listaFilmesDark {
    background-color: #2b2b2b ;
}